    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      color: white;     
    }

    body{
        background:url(img/img6.jpg)no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        height: 100vh;
    }  

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #2986BF;
      color: white;
      padding: 25px;
    }

    .jumbotron{
        background-color:transparent !important;
        color: white;

    }

    .containerRow{
        width: 100%;
        background-color: #f2f2f2;
        margin-top: 50px;

    }

    .carousel{
        margin-bottom: 30px;
        margin-top: 30px;     
        margin-right: 50px;
        margin-left: 60px;   
    }

    .textCarrousel{
        text-align: center;
    }
